@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

html{
  background-color: #B4A6AB;
  font-family: "Lato";
}
body{
  width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

.navigation{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigationsListe {
  float: left;
}

.navigationsListe a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationsListe a:hover{
background-color: #111;
}

h1{
  margin-top: 0px;
}

img {
  float: right;
  margin: 0 auto;
  width: 250px;
}